body{
	margin: 0;
	padding: 0;
	color: #cdcdcd;
}

.nav{	
	position: relative;
	top:0;
	width: 100%;
	background-image: -webkit-linear-gradient(top, #696969, #3f3f3f);
	background-image: -moz-linear-gradient(top, #696969, #3f3f3f);
	height: 42px;
	box-shadow: 0px 0px 10px #333;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav li{
	display: inline;
	list-style-type: none;
}

.nav-link{
	padding: 10px;
	padding-top: 13px;
	padding-bottom: 14px;
	text-decoration: none;
	color: #D7D7D7;
	float: left;
}

li img{
	position: absolute;
	padding: 3px;
	top: 0;
}

.dropdown ul{
   display: none; 
   width: 300px;
   height: 100%;
}

.dropdown:hover ul {
	position:absolute;
	display: block;
	top:42px;
	margin: 0;
	padding: 0;
	z-index: 5;
}

.dropdown li {
	display: block;
	float: none; 
	list-style-type: none;
	background-color:#3f3f3f;
	padding: 20px;
}

.dropdown li a {
	text-align: left;
	text-decoration: none;
}

.dropdown li a {
	float: none;
	padding: 10px 15px 10px;
	color: #c5c5c5;
	text-decoration: none;
	text-shadow: 0 1px 0 #282828;
}

li p{
	position: relative;
	display: inline;
	padding: 5px 10px;
	top: 0px;
}

li input{
	width: 50px;
}

.nav button{
	position: relative;
	top: 0px;
	position: inline;
}

.buttons{
	position: absolute;
	margin-left: -90px;
}

.buttons button{
	height: 12px;
	width: 35px;
	line-height: 12px;
}

.right{
	float: right;
	margin-right: 20px;
}

.left{
	float: left;
}


#content{
	position: absolute;
	top: 42px;
}

#controls{
	position:relative;
	width: 100%;
	bottom:0;
	padding: 30px;
	width: 100%;
}

#controls p{
	display: inline;
	float: left;
	margin-right: 50px;
	margin-left: 30px;
}

h3{
	padding-bottom: 0;
	padding-top:10px;
	margin:0;
}